In [41]:
import os
import numpy as np
import pandas as pd
from IPython.display import display

In [42]:
csvs_dir = 'CSVs'
# csvs_dir = 'CSVs_orig'

In [43]:
file_names = [name[:-4] for name in os.listdir(csvs_dir)]
file_names

['Benjamin',
 'Api',
 'Sivany',
 'Alex',
 'Lukas',
 'Nicca',
 'Julian',
 'Francisco',
 'Alexander',
 'Katarina',
 'Nicolas',
 'Nicola',
 'Nils',
 'Adrian']

In [44]:
data_frames = {}
for file_name in file_names:
    print(file_name)
    try:
        df = pd.read_csv(csvs_dir + '/' + file_name + '.csv', header=None)
        display(df.head())
        data_frames[file_name] = df
    except BaseException as err:
        print(err)
print("   DONE")

Benjamin

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,+_10_Benjamin.Hofer.png,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,+_1_Benjamin.Hofer.png,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,+_2_Benjamin.Hofer.png,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,+_3_Benjamin.Hofer.png,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,+_4_Benjamin.Hofer.png,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

Api

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,Plus_1_Api.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,Plus_2_Api.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,Plus_3_Api.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,Plus_4_Api.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,Plus_5_Api.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

Sivany

                                                   0
0  ['./Bilder/Hash10_Sivany.png', 0, 1, 1, 1, 1, ...
1  ['./Bilder/Hash1_Sivany.png', 1, 1, 1, 1, 1, 1...
2  ['./Bilder/Hash2_Sivany.png', 1, 1, 1, 1, 1, 1...
3  ['./Bilder/Hash3_Sivany.png', 1, 1, 1, 1, 1, 1...
4  ['./Bilder/Hash4_Sivany.png', 1, 1, 1, 1, 1, 1...

Alex

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,#_10_alex.jpg,0,0,0,0,1,1,1,1,0,...,0,0,0,1,1,1,0,0,0,0
1,#_1_alex.jpg,0,0,0,1,1,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
2,#_2_alex.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,#_3_alex.jpg,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,#_4_alex.jpg,0,0,0,0,1,1,0,0,0,...,0,0,0,1,1,1,0,0,0,0

Lukas

                                                   0
0  x_1_lukas.png,[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1...
1  x_2_lukas.png,[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1...
2  x_3_lukas.png,[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1...
3  x_4_lukas.png,[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1...
4  x_5_lukas.png,[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1...

Nicca

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,x_1_Nicca-Andrea.Willi.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,x_2_Nicca-Andrea.Willi.png,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,0,0,1
2,x_3_Nicca-Andrea.Willi.png,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,x_4_Nicca-Andrea.Willi.png,0,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
4,x_5_Nicca-Andrea.Willi.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,1

Julian

                      0                                                  1
0  #_10_julian.roth.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, ...
1   #_1_julian.roth.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
2   #_2_julian.roth.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
3   #_3_julian.roth.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
4   #_4_julian.roth.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...

Francisco

                                                   0
0  ./bilder\#_10_Francisco.png,"[1, 1, 1, 1, 1, 1...
1  ./bilder\#_1_Francisco.png,"[1, 1, 1, 1, 1, 1,...
2  ./bilder\#_2_Francisco.png,"[1, 1, 1, 1, 1, 1,...
3  ./bilder\#_3_Francisco.png,"[1, 1, 1, 1, 1, 1,...
4  ./bilder\#_4_Francisco.png,"[1, 1, 1, 1, 1, 1,...

Alexander

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,+_0_Alexander_Schnittert.jpg,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,+_1_Alexander_Schnittert.jpg,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,+_2_Alexander_Schnittert.jpg,0,0,0,0,1,1,0,0,0,...,0,0,0,0,1,1,0,0,0,0
3,+_3_Alexander_Schnittert.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,+_4_Alexander_Schnittert.jpg,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0

Katarina

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,+_10_SivanyKatarina.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,0,1,1,1
1,-_2_SivanyKatarina.png,0,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
2,#_7_SivanyKatarina.png,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
3,X_2_SivanyKatarina.png,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
4,+_3_SivanyKatarina.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

Nicolas

,0,1
0,./bilder/#_2_Nicholas.png,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, ..."
1,./bilder/x_7_Nicholas.png,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, ..."
2,./bilder/#_5_Nicholas.png,"[1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, ..."
3,./bilder/-_10_Nicholas.png,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
4,./bilder/-_3_Nicholas.png,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

Nicola

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,#_1_nicola.buehler.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,#_2_nicola.buehler.png,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,0,1,1,1
2,#_3_nicola.buehler.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,0,1,1,1
3,#_4_nicola.buehler.png,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,1,0,1,1,1
4,#_5_nicola.buehler.png,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

Nils

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,#_1_Nils.Nydegger.png,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,#_2_Nils.Nydegger.png,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,#_3_Nils.Nydegger.png,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,#_4_Nils.Nydegger.png,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,#_5_Nils.Nydegger.png,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

Adrian

                0                                                  1
0  #_1_Adrian.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
1  #_2_Adrian.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
2  #_3_Adrian.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
3  #_4_Adrian.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
4  #_5_Adrian.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...

   DONE

In [45]:
for name, df in data_frames.items():
    print(f"{name:17}{df.shape}")

Benjamin         (40, 101)
Api              (50, 101)
Sivany           (50, 1)
Alex             (50, 101)
Lukas            (50, 1)
Nicca            (50, 101)
Julian           (50, 2)
Francisco        (50, 1)
Alexander        (50, 101)
Katarina         (50, 101)
Nicolas          (50, 2)
Nicola           (50, 101)
Nils             (50, 101)
Adrian           (50, 2)

## Jedes Feature in eigene Spalten

In [46]:
for name, df in data_frames.items():
    if df.shape[1] == 2:
        print(f"{name:17}{df.shape}")
        display(df.head())

Julian           (50, 2)

                      0                                                  1
0  #_10_julian.roth.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, ...
1   #_1_julian.roth.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
2   #_2_julian.roth.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
3   #_3_julian.roth.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
4   #_4_julian.roth.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...

Nicolas          (50, 2)

,0,1
0,./bilder/#_2_Nicholas.png,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, ..."
1,./bilder/x_7_Nicholas.png,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, ..."
2,./bilder/#_5_Nicholas.png,"[1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, ..."
3,./bilder/-_10_Nicholas.png,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
4,./bilder/-_3_Nicholas.png,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

Adrian           (50, 2)

                0                                                  1
0  #_1_Adrian.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
1  #_2_Adrian.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
2  #_3_Adrian.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
3  #_4_Adrian.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
4  #_5_Adrian.png  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...

In [47]:
def zeilen_splitten(df):
    res = []
    for _, zeile in df.iterrows():
        res.append([zeile[0]] +  [int(z) for z in zeile[1][1:-1].split(', ')])
    return pd.DataFrame(res)

In [48]:
for name in ['Adrian', 'Nicolas', 'Julian']:
    data_frames[name] = zeilen_splitten(data_frames[name])

In [49]:
data_frames['Nicolas'][0] = data_frames['Nicolas'][0].map(lambda s : s[9:])

In [50]:
for name, df in data_frames.items():
    if df.shape[1] == 1:
        print(f"{name:17}{df.shape}")
        display(df.head())

Sivany           (50, 1)

                                                   0
0  ['./Bilder/Hash10_Sivany.png', 0, 1, 1, 1, 1, ...
1  ['./Bilder/Hash1_Sivany.png', 1, 1, 1, 1, 1, 1...
2  ['./Bilder/Hash2_Sivany.png', 1, 1, 1, 1, 1, 1...
3  ['./Bilder/Hash3_Sivany.png', 1, 1, 1, 1, 1, 1...
4  ['./Bilder/Hash4_Sivany.png', 1, 1, 1, 1, 1, 1...

Lukas            (50, 1)

                                                   0
0  x_1_lukas.png,[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1...
1  x_2_lukas.png,[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1...
2  x_3_lukas.png,[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1...
3  x_4_lukas.png,[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1...
4  x_5_lukas.png,[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1...

Francisco        (50, 1)

                                                   0
0  ./bilder\#_10_Francisco.png,"[1, 1, 1, 1, 1, 1...
1  ./bilder\#_1_Francisco.png,"[1, 1, 1, 1, 1, 1,...
2  ./bilder\#_2_Francisco.png,"[1, 1, 1, 1, 1, 1,...
3  ./bilder\#_3_Francisco.png,"[1, 1, 1, 1, 1, 1,...
4  ./bilder\#_4_Francisco.png,"[1, 1, 1, 1, 1, 1,...

In [51]:
lines = []
for line in list(data_frames['Francisco'].iloc[:, 0]):
    line = line[9:-2]
    line = line.replace('"[', '')
    line = line.split(',')
    line = [line[0]] + [int(z) for z in line[1:]]
    lines.append(line)
data_frames['Francisco'] = pd.DataFrame(lines)

In [52]:
lines = []
for line in list(data_frames['Lukas'].iloc[:, 0]):
    line = line.replace('[', '')
    line = line.replace(']', '')
    line = line.split(',')
    line = [line[0]] + [int(z) for z in line[1:]]
    lines.append(line)
data_frames['Lukas'] = pd.DataFrame(lines)

In [53]:
lines = []
for line in list(data_frames['Sivany'].iloc[:, 0]):
    line = line[11:-1]
    line = line.replace("'", "")
    line = line.split(',')
    line = [line[0]] + [int(z) for z in line[1:]]
    lines.append(line)
data_frames['Sivany'] = pd.DataFrame(lines)

In [54]:
for name in ('Api', 'Sivany'):
    df = data_frames[name]
    for i in range(len(df)):
        s = df.iloc[i, 0]
        s = s.replace('Kreis', 'o_')
        s = s.replace('Hash', '#_')
        s = s.replace('Kreuz', 'x_')
        s = s.replace('Plus', '+_')
        s = s.replace('Minus', '-_')
        df.iloc[i, 0] = s

# Features sind ganzzahlig

In [55]:
for name, df in data_frames.items():
    df.iloc[:,1:] = df.iloc[:,1:].astype(np.int32)

# Weiße Pixel sind 0, schwarze sind 1

In [56]:
for name, df in data_frames.items():
    arr = list(np.array(df.iloc[:,1:]).flatten())
    print(f"{name:17} {arr.count(0):4} {arr.count(1)}")

Benjamin          1288 2712
Api               1014 3986
Sivany            1834 3166
Alex              3156 1844
Lukas              530 4470
Nicca             1086 3914
Julian             824 4176
Francisco         1198 3802
Alexander         3368 1632
Katarina          1834 3166
Nicolas           2274 2726
Nicola            1109 3891
Nils               482 4518
Adrian            1198 3802

In [57]:
for name, df in data_frames.items():
    arr = list(np.array(df.iloc[:,1:]).flatten())
    if arr.count(1) > arr.count(0):
        df.iloc[:,1:] =  1 - df.iloc[:,1:]

## Zielspalte am Schluss

In [58]:
for name, df in data_frames.items():
    data_frames[name] = pd.concat((df, df.iloc[:, [0]].applymap(lambda s: s[0].lower())), ignore_index=True, axis=1)

In [59]:
for name, df in data_frames.items():
    print(name)
    display(df.head())

Benjamin

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,+_10_Benjamin.Hofer.png,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+
1,+_1_Benjamin.Hofer.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+
2,+_2_Benjamin.Hofer.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+
3,+_3_Benjamin.Hofer.png,0,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,+
4,+_4_Benjamin.Hofer.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+

Api

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,+__1_Api.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+
1,+__2_Api.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+
2,+__3_Api.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+
3,+__4_Api.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+
4,+__5_Api.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+

Sivany

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,#_10_Sivany.png,1,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,#
1,#_1_Sivany.png,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,#
2,#_2_Sivany.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
3,#_3_Sivany.png,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,0,#
4,#_4_Sivany.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#

Alex

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,#_10_alex.jpg,0,0,0,0,1,1,1,1,0,...,0,0,1,1,1,0,0,0,0,#
1,#_1_alex.jpg,0,0,0,1,1,0,0,0,0,...,0,0,1,1,0,0,0,0,0,#
2,#_2_alex.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
3,#_3_alex.jpg,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,#
4,#_4_alex.jpg,0,0,0,0,1,1,0,0,0,...,0,0,1,1,1,0,0,0,0,#

Lukas

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,x_1_lukas.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,x
1,x_2_lukas.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,x
2,x_3_lukas.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,x
3,x_4_lukas.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,x
4,x_5_lukas.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,x

Nicca

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,x_1_Nicca-Andrea.Willi.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,x
1,x_2_Nicca-Andrea.Willi.png,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,1,0,x
2,x_3_Nicca-Andrea.Willi.png,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,x
3,x_4_Nicca-Andrea.Willi.png,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,x
4,x_5_Nicca-Andrea.Willi.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,x

Julian

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,#_10_julian.roth.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
1,#_1_julian.roth.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
2,#_2_julian.roth.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
3,#_3_julian.roth.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
4,#_4_julian.roth.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#

Francisco

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,#_10_Francisco.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
1,#_1_Francisco.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
2,#_2_Francisco.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
3,#_3_Francisco.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
4,#_4_Francisco.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#

Alexander

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,+_0_Alexander_Schnittert.jpg,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,+
1,+_1_Alexander_Schnittert.jpg,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,+
2,+_2_Alexander_Schnittert.jpg,0,0,0,0,1,1,0,0,0,...,0,0,0,1,1,0,0,0,0,+
3,+_3_Alexander_Schnittert.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,+
4,+_4_Alexander_Schnittert.jpg,0,0,0,0,1,0,0,0,0,...,0,0,0,1,1,0,0,0,0,+

Katarina

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,+_10_SivanyKatarina.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,+
1,-_2_SivanyKatarina.png,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
2,#_7_SivanyKatarina.png,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,#
3,X_2_SivanyKatarina.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,x
4,+_3_SivanyKatarina.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+

Nicolas

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,#_2_Nicholas.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
1,x_7_Nicholas.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,x
2,#_5_Nicholas.png,0,0,0,0,0,1,1,0,0,...,0,0,1,1,0,0,0,0,0,#
3,-_10_Nicholas.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
4,-_3_Nicholas.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-

Nicola

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,#_1_nicola.buehler.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
1,#_2_nicola.buehler.png,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,#
2,#_3_nicola.buehler.png,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,#
3,#_4_nicola.buehler.png,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,#
4,#_5_nicola.buehler.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#

Nils

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,#_1_Nils.Nydegger.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
1,#_2_Nils.Nydegger.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
2,#_3_Nils.Nydegger.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
3,#_4_Nils.Nydegger.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
4,#_5_Nils.Nydegger.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#

Adrian

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,#_1_Adrian.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
1,#_2_Adrian.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
2,#_3_Adrian.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
3,#_4_Adrian.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#
4,#_5_Adrian.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,#

## Merge Dataframes

In [60]:
merged_data = pd.concat(data_frames.values())

In [61]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 690 entries, 0 to 49
Columns: 102 entries, 0 to 101
dtypes: int32(100), object(2)
memory usage: 285.7+ KB

In [74]:
merged_data.to_csv("VereinigteBilddaten.csv", index=None, header=None)

merged_data = pd.read_csv()

In [75]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 690 entries, 0 to 49
Columns: 102 entries, 0 to 101
dtypes: int32(100), object(2)
memory usage: 285.7+ KB

In [76]:
merged_data.head()

,0,1,2,3,4,5,6,7,8,9,...,92,93,94,95,96,97,98,99,100,101
0,+_10_Benjamin.Hofer.png,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+
1,+_1_Benjamin.Hofer.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+
2,+_2_Benjamin.Hofer.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+
3,+_3_Benjamin.Hofer.png,0,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,+
4,+_4_Benjamin.Hofer.png,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,+

In [77]:
y = merged_data.iloc[:, -1]

In [78]:
set(y)

{'#', '+', '-', 'o', 'x'}